:root {
  --bg: #282c34;
}

.nav-bar {
  width: 100vw;
  height: 50px;
  background-color: var(--bg);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 10px;
}

.nav-item {
  text-decoration: none;
  color: azure;
  padding: 10px 10px 9px 10px;
  font-size: 1.5rem;
}

.selected-link {
  border: 2.5px solid #ff033d;
  border-style: none none solid none;
}

.container {
  text-align: center;
  padding: 0 20% 0 20%;
  font-size: 1.4rem;
}
