:root {
  --bg: #282c34
}

.App {
  text-align: center;
}

.App-header {
  background-color: white;
  border: black solid 1px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.nav-item {
  text-decoration: none;
  padding: 10px;
  color: black;
}

.container {
  padding: 0 20% 0 20%;
}