:root {
  --bg: #282c34;
}

.nav-bar {
  width: 100vw;
  height: 50px;
  background-color: var(--bg);
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin-bottom: 10px;
}

.nav-item {
  text-decoration: none;
  color: azure;
  padding: 10px 10px 9px 10px;
  font-size: 1.5rem;
}

.selected-link {
  border: 2.5px solid #ff033d;
  border-style: none none solid none;
  transition: border-width 0.23s linear;
}

.container {
  text-align: center;
  padding: 0 20% 0 20%;
  font-size: 1.4rem;
}

#custom-select {
  width: 300px;
  height: 20px;
  background-color: white;
  border: 2px solid blue;
  position: relative;
}

.custom-select-options-container {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 22;
  max-height: 300px;
  width: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: white;
  list-style: none;
  transition: height 10s ease-in-out;
}

.custom-select-option {
  border: 0.5px solid grey;
  border-style: none none solid none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.shown {
  display: block;
  visibility: visible;
  opacity: 1;
  animation: fade-in 1s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
